.login {
	background-color: #FDFFFF;
}
#login {
	width: 390px;
	background-image: url(../images/log-bg.gif);
	background-repeat: no-repeat;
	margin-top: 65px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
}
#loginform {
	margin:0px;
}
#login h1 a {
	border-bottom: none;
	display: block;
	margin: 0 auto;
	width: 320px;
	height: 88px;

}
#login form {
	height: auto;
	background-position: left bottom;
	padding: 0 50px 25px;
	background-image: url(../images/log-down.gif);
	background-repeat: no-repeat;
	min-height: 200px;
}
#login p {
	font-size:12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	line-height: 24px;
}
#login input {
	padding: 4px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #000000;
}
#login form #submit {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	font-weight: bold;
	margin-bottom:10px;
	border: 1px dashed #0082E1;
	background-color: #03497C;
	padding: 5px;
}
#wrong {
	border: 1px solid #01709A;
	position:relative;
	width: 272px;
	margin:auto;
	background-color: #022F5B;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FEDF98;
	padding: 10px;
	text-align: center;
	font-weight: bold;
}
.login ul {
	line-height:25px;
	list-style:none;
	margin: 0 auto;
	padding:0px;
	width: 325px;
}
.login ul li {
	font-size: 15px;
}
.login ul li a {
	text-decoration:none;
	color: #0d324f;
}
