@charset "windows-1251";
/* CSS Document */

p { margin:0px; }
h1 { margin:0px; padding-top:5px; }
h2 { margin:0px; padding:0px; }
h3 { margin:0px; padding:0px; }
h4 { margin:0px; padding:0px; }
h5 { margin:0px; padding:0px; }
address { margin:0px; padding:0px; }
pre { margin:0px; padding:0px; }

#body1 {
	float:left;
	background-color: #FFFFFF;
	width: 936px;
	text-align: left;
	padding-left:2px;
	padding-right:2px;
	margin:auto;
	padding-top: 5px;
	border: 5px solid #FFFFFF;
}
#main-box {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	border: 1px solid #DFDFDF;
	background-color: #FFFFFF;
	float: left;
	margin-left: 1px;
	margin-bottom: 2px;
	margin-top: 2px;
	width: 607px;
	padding: 5px;
	text-align: justify;
}
#box {
	border: 1px solid #dfdfdf;
	background-color: #FFFFFF;
	float: left;
	margin-left: 1px;
	margin-bottom: 2px;
	margin-top: 2px;
	width: 295px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}
#heading {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #0569A5;
	float: left;
	margin-left: 1px;
	margin-bottom: 2px;
	margin-top: 2px;
	width: 295px;	
	text-align:justify;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E4E4E4;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;

}
#main-head {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #0569A5;
	float: left;
	margin-left: 1px;
	margin-bottom: 2px;
	margin-top: 2px;
	width: 607px;
	text-align: justify;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E4E4E4;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
}

.pic {
	float:left;
	padding-right: 4px;
	padding-bottom: 4px;
}
.artt { margin-bottom:14px; margin-top:25px; }
.zan {
	float:left;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}
.ico {
	float:left;
	padding-right: 4px;
}
.ico2 {
	float:right;
}

#text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	margin-top: 6px;
}


#poem {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	margin-top: 6px;
	height: 208px;
	text-align:center;
}

a.poem-head:link{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #156D9D;
	font-weight: bold;
}
a.poem-head:visited{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight:bold;
	color: #156D9D;
}
a.poem-head:hover{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight:bold;
	color: #333333;
}
.poem-slogan {
	font-size:10px;
	font-style:italic;
}



a.text-head:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #156D9D;
	text-align: justify;
}
a.text-head:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #156D9D;
	text-align: justify;
}
a.text-head:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	text-align: justify;
}
#article {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	height:65px;
	margin-top: 5px;
}
#art {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	margin-top: 6px;
	text-align:center;
}
.select {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
}
